{% extends 'layout_one.html' %}
{% block body %}
<div class="row col-md-12 mt-1">
    <div class="col-md-5 mt-5">
        <div class="card-body p-1">
            <h4 class="card-title title_style_card">Crédito Construcredi.</h4>
            <p class="card-text text_body">Construcredi te brinda el apoyo económico para que inicies tu plan de 
                mejora o de aplicación de tu hogar. <span class="span_parrafo">Alternativa 19 de Sur</span> ofrece este tipo de crédito
                destinado para la remodelación, construcción de una segunda planta, reparación y/o ampliación de la vivienda.
            </p>
        </div>
        
        <div class="card col-md-12 btn_radius11 card_shadow">
            <fieldset class="fieldset_parrafo">
                <h4 class="title_style_tit">¿Cómo lo puedo emplear en mi negocio?</h4>
                    <p class="card-text text_body text_body__participante">
                        <span class="signos">></span> Reparar techos vencidos(impermeabilización), filtraciones de paredes.<br>
                        <span class="signos">></span> Cambio de losas.<br>
                        <span class="signos">></span> Ampliar áreas tales como: récamaras, baños, cocina, sala o cochera.<br>
                        <span class="signos">></span> Arreglar marcos de puertas o ventanas.<br>
                        <span class="signos">></span> Modernizar el tema estético de tu vivienda.
                    </p>
            </fieldset>
        </div>

        <!-- <div class="row">
        <div class="card col-6 col-md-4 btn_radius12 card_shadow">
            <nav class="navbar1 navbar-expand-lg navbar-light bg-light" style="box-shadow: 1px 1px 8px #5b5b5f">                
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="/#" class="nav-link items_navigation">Beneficios</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#" class="nav-link items_navigation">Características</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#" class="nav-link items_navigation">Requisitos</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#" class="nav-link items_navigation">CAT y Comisiones</a>
                    </li>
                    <li class="nav-item">
                        <a href="/#" class="nav-link items_navigation">Documentación Oficial</a>
                    </li>
                </ul>
                </div>
            </nav>
            <fieldset class="fieldset_parrafo">
                    <p class="card-text text_body">
                        ><span class="span_parrafo">CAT PROMEDIO:</span>179.50% SIN IVA, para finesinformativos y de comparación.<br>
                        >Calculado del 25 de julio de 2021 y vigente al 26 de enero del 2022.  
                    </p>

            </fieldset>
        </div>
        </div> -->
    </div>

    <div class="col-md-4 px-0" style="border-radius: 7px;">
        <img src="{{ url_for('static',filename='images/Fotografía-Construcredi.png') }}" class="card-img-top mg_l" alt="..." style="width: 100%; border: 7px" />
    </div>

    <div class="barra">
        <nav id="nav" class="navegacion-principal contenedor">
            <div class="nav_enlace" id="tabl_beneficiario" onclick="tabl_beneficiario()">Beneficios</div>
            <div class="nav_enlace" id="tabl_caracteristica" onclick="tabl_caracteristica()">Características</div>
            <div class="nav_enlace" id="tabl_requisito" onclick="tabl_requisito()">Requisitos</div>
            <div class="nav_enlace__1" id="tabl_cat" onclick="tabl_cat()"><p class="text_nav__enlace">CAT y <br> Comisiones</p></div>
            <div class="nav_enlace__1" id="tabl_documento" onclick="tabl_documento()"><p class="text_nav__enlace">Documentación<br> oficial</p></div>
    
        </nav>
    </div>
    <div class="par_text" id="par__text">
        <div id="tabl_1" class="text-principal">
            <p class="text_nav">
                > <span>CAT PROMEDIO:</span> 179.50% SIN IVA, para fines informativos y de comparación.<br>
                > Calculado del 25 de julio de 2021 y vigente al 26 de enero del 2022.
            </p>
        </div>
        <div id="tabl_2" class="text-principal">
           <p class="text_nav">LALAL, dolor sit amet consectetur adipisicing elit. Fuga accusantium sequi beatae, ducimus eius ipsam mollitia repellendus obcaecati voluptatibus vero quae corporis minima qui earum consequatur impedit nisi. Architecto, unde!</p>
        </div>
        <div id="tabl_3" class="text-principal">
           <p class="text_nav">YASSS, dolor sit amet consectetur adipisicing elit. Fuga accusantium sequi beatae, ducimus eius ipsam mollitia repellendus obcaecati voluptatibus vero quae corporis minima qui earum consequatur impedit nisi. Architecto, unde!</p>
        </div>
        <div id="tabl_4" class="text-principal">
           <p class="text_nav">elll, dolor sit amet consectetur adipisicing elit. Fuga accusantium sequi beatae, ducimus eius ipsam mollitia repellendus obcaecati voluptatibus vero quae corporis minima qui earum consequatur impedit nisi. Architecto, unde!</p>
        </div>
        <div id="tabl_5" class="text-principal">
           <p class="text_nav">kaa, dolor sit amet consectetur adipisicing elit. Fuga accusantium sequi beatae, ducimus eius ipsam mollitia repellendus obcaecati voluptatibus vero quae corporis minima qui earum consequatur impedit nisi. Architecto, unde!</p>
        </div>
    </div>

</div>

</div>

<div class="row mt-3">
    
    <div class="card border-primary mb-3 col-md-3" style="border: none;">
        <img src="https://www.alternativa19delsur.com/demo/assets/imgsRoots/Circulo-01.png" style="width: 80%; right: 6.5px !important; top: 10px !important; position: absolute;" alt="" />
    </div>
    <div class="col-md-12 d-flex justify-content-center">
        <h5 class="title_style_card" >¿Dónde puedo pagar mi Crédito?</h5>
    </div>
    <div class="col-md-6 d-flex justify-content-center center_text">
        <p class="forma_pago">
            Alternativa 19 del sur ha creado una red de alianzas comerciales para facilitar tu forma de pago
            y podrás realizarla en cualquiera de los siguientes puntos.
        </p>
    </div>


    
    <div class="col-md-10 row d-flex justify-content-around mt_le">
        <div class="BBVA_cot"> <!--class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important;"-->
            <img class="img_BBVA" src="{{ url_for('static',filename='images/BBVA.png') }}" alt="" />
        </div>
        <div class="OXX_cot"> <!--class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important;"-->
            <img class="img_OXX" src="{{ url_for('static',filename='images/OXX.png') }}" alt="" />
        </div>
        <div class="Willys_cot"> <!--class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important;"-->
            <img class="img_Willys" src="{{ url_for('static',filename='images/Willys.png') }}" alt="" />
        </div>
        <div class="Yastas_cot"> <!--class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important;"-->
            <img class="img_Yastas" src="{{ url_for('static',filename='images/Yastas.png') }}" alt="" />
        </div>
        <div class="Telecom_cot"> <!--class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important;"-->
            <img class="img_Telecom" src="{{ url_for('static',filename='images/Telecom.png') }}" alt="" />
        </div>
        <div class="Sams_cot"> <!--class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important;"-->
            <img class="img_Sams" src="{{ url_for('static',filename='images/Sams.png') }}" alt="" />
        </div>
        <div class="Farmacia_del_Ahorro_cot"> <!--class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important;"-->
            <img class="img_Farmacia_del_Ahorro" src="{{ url_for('static',filename='images/Farmacia_del_Ahorro.png') }}" alt="" />
        </div>
        <div class="Walmart_cot"> <!--class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important;"-->
            <img class="img_Walmart" src="{{ url_for('static',filename='images/Walmart.png') }}" alt="" />
        </div>
        <div class="Circle_K_cot"> <!--class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important;"-->
            <img class="img_Circle_K" src="{{ url_for('static',filename='images/Circle_K.png') }}" alt="" />
        </div>
    </div>

    <div class="card border-primary mb-3 col-md-3" style="border: none;">
        <img src="https://www.alternativa19delsur.com/demo/assets/imgsRoots/Circulo-01.png" style="width: 80%; right: 6.5px !important; top: 10px !important; position: absolute;" alt="" />
    </div>
</div>
<div class="row mt-5 d-flex justify-content-around">
    <button type="button" class="btn btn-outline-primary my_btn_primary" >Ubica tu sucursal</button>
    <a href="/simulator" class="btn btn-outline-primary my_btn_primary" >Consulta tu crédito</a>
</div>
<div class="col-md-12 d-flex justify-content-center mt-5">
    <h5 class="title_style_card" >Alternativa 19 del Sur, S.A. de C.V., SOFOM, E.N.R.</h5>
</div>
<!-- <script type="text/javascript">
    $('#tabl_1').hide();
    $('#tabl_2').hide();
    $('#tabl_3').hide();
    $('#tabl_4').hide();
    $('#tabl_5').hide();
    $('#par__text').hide();
    
    function tabl_beneficiario() {
        $('#par__text').show();
        $('#tabl_1').show(1000);
        $('#tabl_2').hide(1000);
        $('#tabl_3').hide(1000);
        $('#tabl_4').hide(1000);
        $('#tabl_5').hide(1000);
    }
    function tabl_caracteristica() {
        $('#par__text').show();
        $('#tabl_1').hide(1000);
        $('#tabl_3').hide(1000);
        $('#tabl_2').show(1000);
        $('#tabl_4').hide(1000);
        $('#tabl_5').hide(1000);
    }
    function tabl_requisito() {
        $('#par__text').show();
        $('#tabl_1').hide(1000);
        $('#tabl_3').show(1000);
        $('#tabl_2').hide(1000);
        $('#tabl_4').hide(1000);
        $('#tabl_5').hide(1000);
    }
    function tabl_cat() {
        $('#par__text').show();
        $('#tabl_1').hide(1000);
        $('#tabl_3').hide(1000);
        $('#tabl_2').hide(1000);
        $('#tabl_4').show(1000);
        $('#tabl_5').hide(1000);
    }
    function tabl_documento() {
        $('#par__text').show();
        $('#tabl_1').hide(1000);
        $('#tabl_3').hide(1000);
        $('#tabl_2').hide(1000);
        $('#tabl_4').hide(1000);
        $('#tabl_5').show(1000);
    }
</script> -->
{% endblock %}