<footer class="site-footer">
    <div class="contenedor clearfix">
      <div class="footer-informacion">
        <h3 class="footer_ini footer_seguros">Seguros<span class="footer_fin"> Alter</span></h3>
        <p class="text_footer">
        Alternativa 19 de Sur, S.A. de C.V., SOFOM, E.N.R. para su constitución y operaciones no requiere de autorización de la SHCP,
        y está sujeta a la supervición de la CNBV únicamente para efectos de los dispuesto por el artículo 56 de la Ley de Orgazación
        y Actividades Auxiliares de Crédito. *Incumplir tus obligaciones te puede generar comisiones e interses moratorios. 
        *Contratar créditos por arriba de tu capacidad de pago puede afectar tu Historial Financiera. *Consulta términos, comisiones, 
        condiciones, restricciones y requisitos en www.alternativa19delsur.com o alos Teléfonos: (01 961) 147 01 50 o al 01 800 472 6829 Lada sin Costo. CONDUSEF: www.condusef.gob.mx / 01 800 999 8080        </p>
      </div>

      <div class="menu menu-redes">
        <h3 class="footer_ini">Redes <span class="footer_fin">sociales</span></h3>
        <nav class="redes-sociales">
          <a href="#"><i class="fab fa-facebook-f"></i></a><!--3:49 quedamos-->
          <a href="#"><i class="fab fa-whatsapp"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
        </nav>
      </div>
      <div class="ligas_interes">
        <h3 class="footer_ini">Ligas d<span class="footer_fin">e Interés</span></h3>
        <nav class="redes-sociales">
          <a href="/terminos" class="footer_liga__interes" target="_blank">Terminos y Condiciones</a><!--3:49 quedamos-->
          <a href="/privacidad" class="footer_liga__interes" target="_blank">Aviso de Privacidad</a>
        </nav>
      </div>
    </div>


    <!-- <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; }

    </style> -->
    <!-- <div style="display:none;">
      <div id="mc_embed_signup">
        <form action="https://gmail.us19.list-manage.com/subscribe/post?u=735fe334b19d4e8ae7b15336d&amp;id=609e636865" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <h2>Suscribete al Newsletter y no te pierdas nada de este evento</h2>
            <div class="indicates-required"><span class="asterisk">*</span> es obligatorio </div>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Correo Electrónico  <span class="asterisk">*</span>
              </label>
              <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
            </div>
              <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display:none"></div>
                <div class="response" id="mce-success-response" style="display:none"></div>
              </div> 
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_735fe334b19d4e8ae7b15336d_609e636865" tabindex="-1" value=""></div>
                <div class="clear"><input type="submit" value="Suscribirse" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
              </div>
        </form>
      </div>
    </div> -->

  </footer>
  <!-- <script src="js/sweetalert2.all.min.js"></script> -->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  <script src="js/sweetalert2.min.js"></script>
  <script src="{{ url_for('static', filename='js/sweetalert2.min.js')}}"></script>
  <script src="js/vendor/modernizr-3.7.1.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
  <script type='text/javascript' src="https://rawgit.com/RobinHerbots/jquery.inputmask/3.x/dist/jquery.inputmask.bundle.js"></script>

  <script>window.jQuery || document.write('<script src="js/vendor/jquery-3.4.1.min.js"><\/script>')</script>
  <script src="js/plugins.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/jquery.lettering.js"></script>
 
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"></script>
  <script src="js/main.js"></script>
  <script src="js/cotizador.js"></script>
  <script src="js/validacion.js"></script>
  <script src="js/cotizacion.js"></script>
  <script src="js/Seguros.js"></script>

  <script src="{{ url_for('static', filename='js/menu-barra.js')}}"></script>
  <script src="{{ url_for('static', filename='js/lightpick.js')}}"></script>
  <script src="{{ url_for('static', filename='js/Seguros.js')}}"></script>
  <script src="{{ url_for('static', filename='js/Titular.js')}}"></script>
  <script src="{{ url_for('static', filename='js/Beneficiario.js')}}"></script>
  <script src="{{ url_for('static', filename='js/validacion.js')}}"></script>
  <script src="{{ url_for('static', filename='js/NuevoBeneficiario.js')}}"></script>
  <script src="{{ url_for('static', filename='js/verificacion_edad.js')}}"></script>
  <script src="js/beneficiario.js"></script>

  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
  <!-- <script>
    window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
    ga('create', 'UA-XXXXX-Y', 'auto'); ga('set','transport','beacon'); ga('send', 'pageview')
  </script> -->
  <!-- <script src="https://www.google-analytics.com/analytics.js" async></script> -->
  <!-- <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"735fe334b19d4e8ae7b15336d","lid":"609e636865","uniqueMethods":true}) })</script> -->
  <!-- <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"735fe334b19d4e8ae7b15336d","lid":"609e636865","uniqueMethods":true}) })</script> -->
 

</body>

</html>
