{% extends 'header_banco.html' %}

{% block body %}

<form action="">
<section class="seccion_terminos__condicion contenedor precios "><!--bg_animate-->
    <h2 class="titulo_terminos">Aviso de Privacidad integral de ALTERNATIVA 19 DEL SUR</h2>
    <div class="text-obj"> 
        <p>
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.,</span> con domicilio en 
            11 Norte Poniente #1147 Altos Fraccionamiento Vista Hermosa 29030 Tuxtla Gutiérrez, es el responsable del tratamiento 
            de los datos personales que nos proporcione, los cuales serán protegidos conforme a lo dispuesto por los artículos 3, 
            fracción I, 15, 40 y 43, fracción III de la Ley Federal de Protección de Datos Personales en Posesión de los 
            Particulares y sus correlativos 23 y 26 del Reglamento, 5, fracción XVI del Reglamento Interior de la Secretaría 
            de Economía, así como también el artículo 16 de la Constitución Política de los Estados Unidos Mexicanos reconoce que 
            toda persona tiene derecho a la protección de sus datos personales, al acceso, rectificación y cancelación de los mismos, 
            así como a manifestar su oposición en los términos que fije la ley, y demás normatividad que resulte aplicable. 
        </p>
        <!-- <a href="/indexSeguro">
            <button class="btn_salir">Salir</button>
         </a> -->
    </div>
    <div class="text-obj">  
        <p>
            <span class="text_terminos__condicion">Finalidades del tratamiento</span><br>
            Los datos personales que recabamos de usted, los utilizaremos para las siguientes finalidades:
            <ul>
                <li class="signo_terminos">No aplica para personas morales</li><br>
            </ul>
        </p>
        <p>
            De manera adicional, utilizaremos su información personal para las siguientes finalidades 
            que no son necesarias, pero que nos permiten y facilitan brindarle una mejor atención:
            <ul>
                <li class="signo_terminos">Realizar campañas de marketing.</li><br>
            </ul>
        </p>
        <p>
            En caso de que no desee que sus datos personales sean tratados para estos fines adicionales, 
            esta plataforma le permitirá indicarlo o usted puede manifestarlo así al correo electrónico
            tuseguro@alternativa19delsur.com. 
        </p>
        <p>
            <span class="text_terminos__condicion">Datos personales recabados</span><br>
            Para las finalidades antes señaladas se solicitarán los siguientes datos personales: 
            <ul>
                <li class="signo_terminos">Nombre.</li><br>
                <li class="signo_terminos">Correo electrónico.</li><br>
                <li class="signo_terminos">Teléfono.</li><br>
                <li class="signo_terminos">Domicilio.</li><br>
                <li class="signo_terminos">Fecha de nacimiento.</li><br>
                <li class="signo_terminos">Género</li><br>
                <li class="signo_terminos">Nacionalidad</li><br>
                <li class="signo_terminos">Estado Civil</li><br>
                <li class="signo_terminos">Ocupación</li><br>
                <li class="signo_terminos">Número de hijos</li><br>
                <li class="signo_terminos">Estatura y peso</li><br>
                <li class="signo_terminos">Información relacionada a su estado de salud</li><br>
                <li class="signo_terminos">Ocupación</li><br>
                <li class="signo_terminos">RFC</li><br>
                <li class="signo_terminos">CURP</li><br>
                <li class="signo_terminos">El pago será cubierto al beneficiario en un lapso de 20 o 30 días posteriores al envió de los documentos completos, considerando<br><span class="text_mov__terminos2"> como inicio del proceso a la fecha de envió del último documento.</span></li><br>
            </ul>
        </p>
        <p>
            <span class="text_terminos__condicion">Adicionalmente, se recaban datos sensibles como:</span><br>
            <ul>
                <li class="signo_terminos">Padecimiento de enfermedades congénitas y/o degenerativas.</li><br>
                <li class="signo_terminos">Operaciones quirúrgicas realizadas o pendientes por realizar.</li><br>
                <li class="signo_terminos">Estatus de persona políticamente expuesta.</li><br>
            </ul>
        </p>
        <p>
            <span class="text_terminos__condicion">Fundamento legal</span><br>
            El fundamento para el tratamiento de datos personales y transferencias en los artículos 6° Base A y 16 segundo párrafo de la Constitución Política de los Estados Unidos Mexicanos; 3°, 
            fracción XXXIII, 4°, 16, 17 y 18 de la Ley General de Protección de Datos Personales en Posesión de Sujetos Obligados.
        </p>
        <p>
            <span class="text_terminos__condicion">Transferencia de datos personales.</span><br>
            Le informamos que sus datos personales son compartidos con las personas, empresas, organizaciones y autoridades distintas al responsable, y para los fines que se describen a continuación:<br>
            Seguros SURA S.A. de C.V. / Compañía Aseguradora<br>
            Agroasemex / Compañía Aseguradora

        </p>
        <p>
            <span class="text_terminos__condicion">Derechos ARCO.</span><br>
            Usted tiene derecho a conocer qué datos personales se tienen de usted, para qué se utilizan y las condiciones del uso que les damos (Acceso). Asimismo, es su derecho solicitar la corrección de su información personal en caso de que esté desactualizada, 
            sea inexacta o incompleta (Rectificación); que la eliminemos de nuestros registros o bases de datos cuando considere que la misma no está siendo utilizada conforme a los principios, deberes y obligaciones previstas en la ley (Cancelación); así como oponerse al uso de sus datos personales para fines específicos (Oposición). 
            Estos derechos se conocen como derechos ARCO. 
            Para el ejercicio de cualquiera de los derechos ARCO, usted podrá presentar solicitud por escrito ante la Unidad de Transparencia, formato o medio electrónico tuseguro@alternativa19delsur.com, la que deberá contener:

        </p>
        <p class="text_terminos_left">
            <ul class="left_privacidad">
                <li class="signo_terminos">No aplica para personas morales</li><br>
                <li class="signo_terminos">El Asegurado Titular debe tener Nacionalidad Mexicana o ser Residente con FM2 o FM3.</li><br>
                <li class="signo_terminos">No cubre suicidios.</li><br>
                <li class="signo_terminos">No cubre muerte por participación directa o indirecta en actos delictivos por parte del Asegurado Titular o Beneficiario.</li><br>
                <li class="signo_terminos">No aplica en caso de que el asegurado titular practique actividades extremas o de alto riesgo que atenten en contra de su vida.</li><br>
                <li class="signo_terminos">Contamos con 10 días hábiles (máximo) para reportar el fallecimiento del asegurado, posteriormente hasta 20 días para enviar<br><span class="text_mov__terminos1">los documentos para continuar con el proceso de indemnización (de no enviarse, la reclamación quedara inhabilitada)</span>.</li><br>
                <li class="signo_terminos boton_priva">El pago será cubierto al beneficiario en un lapso de 20 o 30 días posteriores al envió de los documentos completos, considerando<br><span class="text_mov__terminos2"> como inicio del proceso a la fecha de envió del último documento.</span></li><br>
            </ul>
        </p><br>
        <p>
            En caso de solicitar la rectificación, adicionalmente deberá indicar las modificaciones a realizarse y aportar la documentación oficial necesaria que sustente su petición. En el derecho de cancelación debe expresar las causas que motivan la eliminación. Y en el derecho de oposición debe señalar.
            los motivos que justifican se finalice el tratamiento de los datos personales y el daño o perjuicio que le causaría, o bien, si la oposición es parcial, debe indicar las finalidades específicas con las que  no se está de acuerdo, siempre que no sea un requisito obligatorio. 
        </p>
        <p>
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR. S.A. DE C.V., SOFOM, E.N.R.</span> responderá en el domicilio o medio que el titular de los datos personales designe en su solicitud, en un plazo de 15 días hábiles, que puede ser ampliado por 10 días hábiles más previa notificación. La respuesta 
            indicará si la solicitud de acceso, rectificación, cancelación u oposición es procedente y, en su caso, hará efectivo dentro de los 15 días hábiles siguientes a la fecha en que comunique la respuesta.  
        </p>


        <p>
            <span class="text_terminos__condicion">Datos de la Unidad de Transparencia<br>
            Domicilio: 11 Norte Poniente #1147 Altos Fraccionamiento Vista Hermosa 29030 Tuxtla Gutiérrez<br>
            Teléfono: 01 800 472 68 29<br>
            Correo electrónico institucional: 
        </p>
        <p>
            <span class="text_terminos__condicion">Cambios al Aviso de Privacidad<br>
                En caso de realizar alguna modificación al Aviso de Privacidad, se le hará de su conocimiento mediante: <a href="https://www.alternativa19delsur.com">https://www.alternativa19delsur.com</a>
        </p>

        
        
        <!-- <a href="/add_titu">
            <button class="btn_salir">Salir</button>
         </a>  -->
    </div>
</section>
</form>

{% endblock%}
  
