{% extends 'layout_one.html' %}
{% block body %}
<div class="row col-md-12 mt-5">
    <div class="col-md-2">
        <ul class="nav nav-pills flex-column" style="border-radius: 7px;">
            <li class="nav-item" style="border-radius: 7px;">
                <a href="/producto/1" class="nav-link " style="border-radius: 7px;">Individual</a>
            </li>
            <li class="nav-item" style="border-radius: 7px">
                <a href="/producto/2" class="nav-link" style="border-radius: 7px;">Grupal</a>
            </li>
            <li class="nav-item" style="border-radius: 7px">
                <a href="/producto/7" class="nav-link active items_left" style="border-radius: 7px;" >Mejorando tu Vivienda</a>
            </li>
            <li class="nav-item" style="border-radius: 7px;">
                <a href="/producto/3" class="nav-link" style="border-radius: 7px;">Construcredi</a>
            </li>
            <li class="nav-item" style="border-radius: 7px;">
                <a href="/producto/4" class="nav-link" style="border-radius: 7px;">Nómina</a>
            </li>
            <li class="nav-item" style="border-radius: 7px;">
                <a href="/producto/5" class="nav-link" style="border-radius: 7px;">Hipotecario</a>
            </li>
            <li class="nav-item" style="border-radius: 7px;">
                <a href="/producto/6" class="nav-link" style="border-radius: 7px;">PyME</a>
            </li>
        </ul>
    </div>
    <div class="col-md-4 px-0" style="border-radius: 7px;">
        <img src="{{ url_for('static',filename='images/Fotografía-MTK.png') }}" class="card-img-top" alt="..." style="width: 100%; border: 7px" />
    </div>
    <div class="card border-primary mb-3 col-md-6" style="border: none">
        <div class="card-body p-1 mg-t">
            <h4 class="card-title title_style_card">¿Necesitas dinero para ampliar o remodelar tu hogar?.</h4>
                <p class="card-text text_body">Alternativa 19 del Sur te ofrece el credito "Mejorando tu Vivienda" que te permite
                                               mejorar o ampliar el espacio físico de tu hogar, además de reparar,
                                               remodelar o tranformar...</p>
            <a href="/conocer_producto/3" class="card-link">Conoce más</a>
        </div>
        <div class="row mt-2 d-flex justify-content-around">
            <button type="button" class="btn btn-outline-primary my_btn_primary" >Ubica tu sucursal</button>
            <a href="/simulator" class="btn btn-outline-primary my_btn_primary" >Consulta tu crédito</a>
        </div>
    </div>
</div>

<div class="row mt-3">
    <div class="col-md-6 row d-flex justify-content-around">
        <div class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important;">
            <video src="https://alternativa19delsur.com/demo/assets/videosRoots/Caso%20de%20exito%20-%20Don%20Wilber%20(MTV)%20-%20Arriaga%20-%20POST.mp4" class="d-block user-select-none" width="100%" height="150" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size: 1.125rem; text-anchor: middle; border-radius: 7px 7px 0px 0px;" controls />
            <div class="card-body">
                <h6>Wilber Lara</h6>
                <p class="card-text">Arriaga, Chiapas.</p>
            </div>
        </div>

        <div class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important">
            <video src="https://alternativa19delsur.com/demo/assets/videosRoots/Caso%20de%20exito%20-%20Do%c3%b1a%20amparo%20(Individual)%20-%20Chiapa%20de%20Corzo%20(POST).mp4" class="d-block user-select-none" width="100%" height="150" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size: 1.125rem; text-anchor: middle; border-radius: 7px 7px 0px 0px;" controls />
            <div class="card-body">
                <h6>Doña Amparo</h6>
                <p class="card-text">Chiapa de Corzo, Chiapas.</p>
            </div>
        </div>

        <div class="card mb-3 col-md-3 px-0" style="border-radius: 10px !important">
            <video src="https://alternativa19delsur.com/demo/assets/videosRoots/Caso%20de%20exito%20-%20Do%c3%b1a%20magnolio%20(Individual)%20-%20Poniente%20post.mp4" class="d-block user-select-none" width="100%" height="150" role="img" preserveAspectRatio="xMidYMid slice" viewBox="0 0 318 180" style="font-size: 1.125rem; text-anchor: middle; border-radius: 7px 7px 0px 0px;" controls />
            <div class="card-body">
                <h6>Magnolia Peña</h6>
                <p class="card-text">Tuxtla Gutiérrez, Chiapas.</p>
            </div>
        </div>
    </div>
    <div class="card border-primary mb-3 col-md-3" style="border: none;">
        <div class="card-body p-1">
            <h4 class="card-title text-dark" style="font-size: 1.1rem;">Conoce a nuestros clientes que lograron el éxito.</h4>
            <p class="card-text">¡Tú también puedes lograrlo, hazlo posible con Alternativa 19 del Sur.</p>
        </div>
    </div>
    <div class="card border-primary mb-3 col-md-3" style="border: none;">
        <img src="https://www.alternativa19delsur.com/demo/assets/imgsRoots/Circulo-01.png" style="width: 80%; right: 6.5px !important; top: 10px !important; position: absolute;" alt="" />
    </div>
    <div class="col-md-12 d-flex justify-content-center">
        <h5 class="title_style_card" >Alternativa 19 del Sur, S.A. de C.V., SOFOM, E.N.R.</h5>
    </div>
</div>
{% endblock %}