{% extends 'header_banco.html' %}

{% block body %}

<form action="">
<section class="seccion_terminos__condicion contenedor precios "><!--bg_animate-->
    <h2 class="titulo_terminos">TÉRMINOS Y CONDICIONES</h2>
    <div class="text-obj"> 
        <p>
            Este contrato describe los términos y condiciones generales aplicables al uso de los contenidos, 
            productos y servicios ofrecidos a través del sitio <a href="https://www.alternativa19delsur.com/">www.alternativa19delsur.com</a>, 
            de cual es titular <span class="text_terminos__condicion"> 19 DEL SUR. DE S.A. DE C.V., SOFOM, E.N.R.</span>
        </p>
        <!-- <a href="/indexSeguro">
            <button class="btn_salir">Salir</button>
         </a> -->
    </div>
    <h2 class="titulo_definicion">DEFINICIONES</h2>
    <div class="text-obj">  
        <p>
            Para efectos de este contrato se considerarán las siguientes definiciones: 
        </p>
        <p>
            <span class="text_terminos__condicion">Asegurado.</span> Persona física que se encuentra protegida por la presente Póliza.
        </p>
        <p>
            <span class="text_terminos__condicion">Beneficiario.</span> Persona o personas que por designación del Asegurado Titular, y a falta de designación del Asegurado Titular por disposición legal, 
            tiene(n) derecho a recibir la Suma Asegurada contratada, en su proporción correspondiente. 
        </p>
        <p>
            <span class="text_terminos__condicion">Consentimiento Individual.</span> Documento que proporcionará la Compañía al Contratante para que los asegurados registren sus datos personales, 
            la suma asegurada y coberturas elegidas, así como la designación de beneficiarios. 
        </p>
        <p>
            <span class="text_terminos__condicion">Contratante.</span> Persona física o moral señalada en la Póliza que ha solicitado la celebración del Contrato de Seguro para sí o 
            la persona moral que adquiere el seguro para personas físicas, la cual se obliga a efectuar el pago de las Primas correspondientes al seguro. 
        </p>
        <p>
            <span class="text_terminos__condicion">Clave de Usuario.</span> El identificador o nombre del Usuario que en conjunto con su contraseña lo autentifica en un Medio Electrónico o 
            en una Operación Electrónica.
        </p>
        <p>
            <span class="text_terminos__condicion">Contraseña.</span> La clave o la cadena alfanumérica que autentica al Usuario en un Medio Electrónico o en una Operación Electrónica. 
            La Contraseña tiene los mismos efectos jurídicos que la firma autógrafa conforme a la legislación, siendo admisible como prueba en juicio.
        </p>
        <p>
            <span class="text_terminos__condicion">Datos Personales.</span> Es toda la información que el Usuario proporcionará al momento de su registro como Usuario.
        </p>
        <p>
            <span class="text_terminos__condicion">Endoso.</span> Documento emitido por la Compañía, previo acuerdo entre las partes, cuyas cláusulas modifican, aclaran, adicionan o dejan sin efecto parte del 
            contenido de las condiciones generales o particulares de la Póliza. 
        </p>
        <p>
            <span class="text_terminos__condicion">Médico Dictaminador.</span> Profesional de la Salud que emite los dictámenes de padecimientos comunes, crónicos degenerativos y especializados declarados por los proponentes, garantizando la correcta aplicación de 
            las condiciones establecidas en la Póliza y del procedimiento médico correspondiente. El Médico Dictaminador será designado por la Aseguradora.
        </p>
        <p>
            <span class="text_terminos__condicion">Moneda.</span> Tanto el pago de la Prima como el de la indemnización que en su caso proceda, serán liquidables en los términos de la Ley Monetaria de los Estados Unidos Mexicanos
            vigente en la fecha de pago. 
        </p>
        <p>
            <span class="text_terminos__condicion">Póliza colectiva.</span> Modalidad de seguro que se caracteriza por cubrir, mediante un solo contrato, a un colectivo de personas vinculadas entre sí por un interés común.
        </p>
        <p>
            <span class="text_terminos__condicion">Póliza o Contrato de Seguro.</span> Documento donde se establecen los términos y condiciones celebradas entre el Contratante y la Compañía, así como los derechos y obligaciones de las partes. Este documento está integrado por
            las condiciones generales, la carátula de la Póliza, la Solicitud de Seguro y Endosos que se agreguen, los cuales constituyen prueba del Contrato de Seguro. 
        </p>
        <p>
            <span class="text_terminos__condicion">Prima.</span> Cantidad que deberá pagar el Asegurado Titular del seguro como condición para mantener vigente la Póliza.
        </p>
        <p>
            <span class="text_terminos__condicion">Proponente.</span> Es la persona que propone la transferencia de su riesgo. Es el trámite que realiza(n) el Asegurado o su(s) Beneficiario(s) ante la Compañía Aseguradora, para obtener 
            los beneficios contratados en su Póliza, al suceder un siniestro establecido en sus Condiciones Generales.
        </p>
        <p>
            <span class="text_terminos__condicion">Siniestro.</span> Evento a partir del cual se presenta la reclamación del seguro contratado por el asegurado que produce efecto sobre esta Póliza.
        </p>
        <p>
            <span class="text_terminos__condicion">Sitio.</span> Para efectos de los presentes, se entiende el software, servidores, centros de datos, facilidades de almacenamiento, seguridad y otros servicios computacionales que habilitan la operación de una aplicación o servicio de comercio electrónico.
        </p>
        <p>
            <span class="text_terminos__condicion">Solicitud de Cédula de Seguro.</span> Documento que comprende la voluntad del Asegurado Titular para adquirir un seguro y expresa la protección solicitada e información para la evaluación del riesgo. 
            Este documento es indispensable para la emisión de la Póliza y deberá ser llenado y firmado por el Asegurado Titular. 
        </p>
        <p>
            <span class="text_terminos__condicion">Suma Asegurada.</span> Cantidad establecida en la carátula de la Póliza por la que tendrá responsabilidad la Compañía, en caso de proceder el Siniestro.
        </p>
        <p>
            <span class="text_terminos__condicion">Sesión.</span> Periodo durante el cual los Usuarios podrán llevar a cabo operaciones, una vez que hayan ingresado al servicio de operaciones electrónicas con su identificador de usuario.
        </p>
        <p>
            <span class="text_terminos__condicion">Usuario.</span> El Contratante y/o Asegurado Titular que cuenta con contraseña e Identificador de Usuario, lo que le permite realizar operaciones electrónicas.
        </p>
        <p>
            <span class="text_terminos__condicion">Términos y Condiciones.</span> Se refiere a este documento y a todas las modificaciones que se le realicen.
        </p>   
        <h2 class="titulo_definicion">CONDICIONES GENERALES DE SEGURO</h2>
        <p>
            Contratación de Póliza de Seguro<br>
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> se obliga en los términos de éste contrato, a brindar al Asegurado Titular la protección de las coberturas amparadas 
            en la póliza a cambio de la obligación del pago de la Prima convenida, a partir del momento en que el Asegurado Titular tenga conocimiento de la aceptación de su oferta 
            y durante la vigencia de la misma. El Asegurado debe pagar la prima de acuerdo al periodo de aseguramiento contratado, así como de cada beneficio contratado a partir de 
            la fecha de inicio de vigencia y en los plazos de pago estipulados. Podrán ser acreedores de una póliza de seguro únicamente aquellas personas que cuenten con la nacionalidad 
            mexicana o Residentes que dispongan del formato de migración FM2 o FM3.
        </p>
        <p>
            <span class="text_terminos__condicion">En cumplimiento al artículo 16 del reglamento del seguro de grupo se transcriben los siguientes artículos.</span>
            <span class="text_cursiva__terminos">ículo 17.- las personas que ingresen al grupo o colectividad asegurado con posterioridad a la celebración del contrato y que hayan dado su consentimiento para ser asegurados dentro 
                de los treinta días naturales siguientes a su ingreso, quedarán aseguradas con las mismas condiciones en que fue contratada la póliza, desde el momento en que adquirieron las 
                características para formar parte del grupo o colectividad de que se trate.</span>
        </p>
        <p>
            <span class="text_cursiva__terminos">Con independencia de lo previsto en el párrafo anterior, tratándose de personas que soliciten su ingreso al grupo o colectividad asegurado con posterioridad a la celebración del 
                contrato y que hayan dado su consentimiento después de los treinta días naturales siguientes a la fecha en que hubieran adquirido el derecho de formar parte del mismo, la aseguradora, dentro de los treinta días 
                naturales siguientes a la fecha en que se le haya comunicado esa situación, podrá exigir requisitos médicos u otros para asegurarlas, si no lo hace quedarán aseguradas con las mismas condiciones en que fue contratada 
                la póliza.
            </span>
        </p>
        <p>
            <span class="text_cursiva__terminos">Cuando la aseguradora exija requisitos médicos u otros para asegurar a las personas a que se refiere el párrafo anterior, contará con un plazo de treinta días naturales, contado a 
                partir de la fecha en que se hayan cumplido dichos requisitos para resolver sobre la aceptación o no de asegurar a la persona, de no hacerlo se entenderá que la acepta con las mismas condiciones en que fue contratada 
                la póliza.
            </span>
        </p>
        <p>
            <u>Artículo 18.-</u> <span class="text_cursiva__terminos">Las personas que se separen definitivamente del grupo o colectividad asegurado, dejarán de estar aseguradas desde el momento de su separación, quedando sin validez alguna 
                el certificado individual<br>
                Expedido. En este caso, la aseguradora restituirá la parte de la prima neta no devengada de dichos integrantes calculada en días exactos, a quienes la hayan aportado, en la proporción correspondiente.
            </span>
        </p>
        <p>
            <u>Artículo 19.-</u> <span class="text_cursiva__terminos">En los seguros de grupo y en los seguros colectivos cuyo objeto sea otorgar una prestación laboral, se deberá cumplir con lo siguiente:
            </span>
        </p>
        <p class="text_terminos_left">
            <span class="text_cursiva__terminos">I.	Para la operación de vida, la aseguradora tendrá la obligación de asegurar, por una sola vez y sin requisitos médicos, al integrante del grupo o colectividad que se separe definitivamente del 
            mismo, en cualquiera de los planes individuales de la operación de vida que ésta comercialice, con excepción del seguro temporal y sin incluir beneficio adicional alguno, siempre que su edad esté 
            comprendida dentro de los límites de admisión de la aseguradora. Para ejercer este derecho, la persona separada del grupo  o deberá presentar su solicitud a la aseguradora, dentro del plazo de treinta 
            días naturales a partir de su separación. La suma asegurada será la que resulte menor entre la que se encontraba en vigor al momento de la separación y la máxima suma asegurada sin pruebas médicas de 
            la cartera individual de la aseguradora, considerando la edad alcanzada del asegurado al momento de separarse. La prima será determinada de acuerdo a los procedimientos establecidos en las notas técnicas
            registradas ante la comisión. El solicitante deberá pagar a la aseguradora la prima que corresponda a la edad alcanzada y ocupación, en su caso, en la fecha de su solicitud, según la tarifa en vigor. 
            Las aseguradoras que practiquen el seguro de grupo en la operación de vida deberán operar, cuando menos, un plan ordinario de vida.</span> 
        </p>        
        <p>
            <span class="text_terminos__condicion"><u>Observaciones y Exclusiones</u></span>
            <ul>
                <li class="signo_terminos">No aplica para personas morales</li><br>
                <li class="signo_terminos">El Asegurado Titular debe tener Nacionalidad Mexicana o ser Residente con FM2 o FM3.</li><br>
                <li class="signo_terminos">No cubre suicidios.</li><br>
                <li class="signo_terminos">No cubre muerte por participación directa o indirecta en actos delictivos por parte del Asegurado Titular o Beneficiario.</li><br>
                <li class="signo_terminos">No aplica en caso de que el asegurado titular practique actividades extremas o de alto riesgo que atenten en contra de su vida.</li><br>
                <li class="signo_terminos">Contamos con 10 días hábiles (máximo) para reportar el fallecimiento del asegurado, posteriormente hasta 20 días para enviar<br><span class="text_mov__terminos1">los documentos para continuar con el proceso de indemnización (de no enviarse, la reclamación quedara inhabilitada)</span>.</li><br>
                <li class="signo_terminos">El pago será cubierto al beneficiario en un lapso de 20 o 30 días posteriores al envió de los documentos completos, considerando<br><span class="text_mov__terminos2"> como inicio del proceso a la fecha de envió del último documento.</span></li><br>
            </ul>
        </p><br>
        <p>
            Para seguros arriba de $100,000.00 el cliente deberá cumplir con los términos y condiciones de las aseguradoras participantes.
            <ul>
                <li class="signo_terminos">Presentar certificado de salud debidamente requerido.</li><br>
                <li class="signo_terminos">No son asegurables aquellas personas que padezcan alguna de las enfermedades que a continuación se enlistan: </li><br>
                <ul>
                    <li class="sub_signo__terminos">✓ Infartos</li><br>
                    <li class="sub_signo__terminos">✓ SIDA</li><br>
                    <li class="sub_signo__terminos">✓ Cáncer</li><br>
                    <li class="sub_signo__terminos">✓ Insuficiencia Renal y/o Cardiaca</li><br>
                    <li class="sub_signo__terminos">✓ Hemorragias cerebrales</li><br>
                    <li class="sub_signo__terminos">✓ Infartos de cerebro</li><br>
                    <li class="sub_signo__terminos">✓ Cirrosis</li><br>
                    <li class="sub_signo__terminos">✓ Otras que pongan en riesgo su vida</li><br>
                </ul>                
                <li class="signo_terminos">Queda sujeto a autorización por medio de la aseguradora, En el caso de padecer Hipertensión Arterial o Diabetes Mellitus.</li><br>
                <!-- <li class="signo_terminos">Contamos con 10 días hábiles (máximo) para reportar el fallecimiento del asegurado, posteriormente hasta 20 días para enviar<br><span class="text_mov__terminos1">los documentos para continuar con el proceso de indemnización (de no enviarse, la reclamación quedara inhabilitada)</span>.</li><br>
                <li class="signo_terminos">El pago será cubierto al beneficiario en un lapso de 20 o 30 días posteriores al envió de los documentos completos, considerando<br><span class="text_mov__terminos2"> como inicio del proceso a la fecha de envió del último documento.</span></li><br> -->
            </ul>
        </p>
        <p>
            <span class="text_terminos__condicion">Beneficiarios</span><br>
                El Asegurado Titular debe designar a sus beneficiarios en forma clara y precisa, para evitar cualquier incertidumbre sobre el particular. La designación de beneficiario atribuye a la persona en cuyo 
                favor se hace, un derecho propio derivado del contrato de seguro, de manera que son ineficaces las designaciones para que una persona cobre los beneficios derivados de este contrato y los entregue a otras.<br>
                Si sólo se hubiere designado un beneficiario y éste muriere antes que el Asegurado Titular, esté tiene el derecho en cualquier tiempo, a designar o cambiar libremente a los beneficiarios de la póliza. 
        </p>

        <p>
            Para tal efecto el Asegurado Titular deberá notificar el cambio por escrito a <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR. S.A. DE C.V., SOFOM, E.N.R.</span> al correo tuseguro@alternativa19delsur.com, indicando el nombre del nuevo beneficiario, en caso de que la notificación no se reciba oportunamente, 
            pagará al último beneficiario del que tenga conocimiento y quedará liberada de las obligaciones de este contrato, resultado que será hecho de su conocimiento por el mismo medio que nos contacte. 
        </p>
        <p>
            <span class="text_terminos__condicion">Advertencia:</span> En caso de que desee nombrar beneficiarios a menores de edad, no se debe señalar a un mayor de edad como representante de los menores para efecto de que, en su representación cobre la indemnización. Lo anterior porque las legislaciones civiles previenen la forma en 
            que debe designarse tutores, albaceas, representantes de herederos u otros cargos similares y no consideran al contrato de seguro como el instrumento adecuado para tales designaciones. 
            La designación que se hiciera de un mayor de edad como representante de menores beneficiarios, durante la minoría de edad de ellos, legalmente puede implicar que se nombra beneficiario al mayor de edad, quien en todo caso sólo tendría una obligación moral, pues la designación que se hace de beneficiarios en un contrato de seguro le concede el derecho incondicionado de disponer de la suma asegurada. 
        </p>
        <p>
            <span class="text_terminos__condicion">Requisitos Médicos:</span> Previo a la aceptación del aseguramiento y cuando la suma asegurada solicitada supere el importe descrito en el apartado de Observaciones y Exclusiones, el Asegurado Titular deberá realizarse las pruebas médicas que le correspondan. El resultado de dichas 
            pruebas se enviará para su análisis a tuseguro@alternativa19delsur.com y ésta tendrá un plazo de cinco días hábiles contados a partir de su recepción para determinar si se otorga o no el aseguramiento. 
        </p>
        <p>
            <span class="text_terminos__condicion">Valoración Médica:</span> El reclamante deberá presentar a su costa, a <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R</span>, además de las formas de declaración que ésta le proporcione, las pruebas de los hechos y documentos relativos que 
            den origen a la reclamación. Al tramitarse alguna reclamación relacionada con este contrato, la Aseguradora tendrá el derecho de practicar, a su costa, exámenes médicos al Asegurado, así como comprobar la veracidad de los hechos declarados por el Asegurado, Beneficiario o sus representantes. 
        </p>
        <p>
            <span class="text_terminos__condicion">Límites de edad</span><br>
            La edad de admisión para la cobertura es de 18 (dieciocho) años como mínimo, de 65 (sesenta y cinco) años como máximo, y cancelándose automáticamente, sin necesidad de declaración expresa de <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span>, en el aniversario de la póliza inmediato posterior en que la edad cumplida 
            del Asegurado Titular sea de 66 (sesenta y seis) años de edad.  
        </p>
        <p>
            <span class="text_terminos__condicion">Reclamación de Póliza de Seguro</span><br>
            El trámite lo deberá realizar el Asegurado Titular o en su caso su(s) Beneficiario(s) ante <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span>, para obtener los beneficios contratados en su Póliza, al suceder un siniestro establecido en sus Condiciones Generales establecidas en el momento de su contratación según la aseguradora elegida.
        </p>
        <p>
            Seguros SURA S.A. de C.V. / Compañía Aseguradora<br>Agroasemex / Compañía Aseguradora 
        </p>
        <p>
            <span class="text_terminos__condicion">Aviso de Siniestro </span><br>
            El Asegurado Titular o los Beneficiarios según corresponda, deberá notificar el siniestro junto con los requisitos para su reclamo, los cuales estarán descritos en el sitio web con el formato en PDF “Reclamo de siniestro”, estos requisitos deberán ser adjuntados y enviados por escrito a 
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> al correo siniestros@alternativa19delsur.com notificando la ocurrencia del siniestro en un plazo máximo de diez días hábiles contados a partir de que se tenga conocimiento.
        </p>
        <p>
            <span class="text_terminos__condicion">Forma de Pago de Suma Asegurada</span><br>
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> realizará el trámite correspondiente ante la aseguradora correspondiente, según sea el caso y la cobertura señalada en la carátula de la póliza.<br>
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R</span>  realizará el trámite correspondiente del Asegurado Titular o el(los) beneficiario(os) designados en la póliza. A falta de beneficiarios expresamente designados, 
            se pagará a la sucesión del Asegurado Titular. Dicho pago se efectuará tras recibir pruebas del hecho que genera la obligación y del derecho de quien solicite el pago, así como las declaraciones y documentación completa que <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R</span>  
            pide en las formas correspondientes que ésta proporcione. 
        </p>
        <p>
            La liquidación se hará de la siguiente forma: <br>
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R</span> dará seguimiento del trámite con la aseguradora correspondiente, derivado de este contrato, el pago se efectuará en una sola exhibición a través de transferencia electrónica a la cuenta bancaria en donde se haya comprobado la 
            titularidad de quien tenga derecho al cobro del seguro. Pago y cobro del seguro solamente será en moneda nacional (México).
        </p>
        <p>
            <span class="text_terminos__condicion">Improcedencia de Pago por la comisión de Delitos (OFAC)</span><br>
            Se tomarán medidas y procedimientos para prevenir y detectar actos, omisiones u operaciones que pudieran favorecer, prestar ayuda, auxilio o cooperación a cualquier especie para la comisión de delitos previstos en los artículos 139 o 148 Bis del Código Penal Federal, o que pudieran ubicarse en los supuestos del artículo 
            400 Bis del mismo código.
        </p>
        <p>
            <span class="text_terminos__condicion">Cancelación de Póliza de Seguro</span><br>
            Este beneficio quedará cancelado automáticamente, sin necesidad de declaración expresa de <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span>, en el aniversario de la póliza inmediatamente posterior a que el Asegurado Titular cumpla la edad límite según el producto contratado. O bien, al ocurrir alguno de los siguientes casos: 
            a) Cancelación o rescate de la cobertura básica de vida o de esta cobertura. b) A la primera ocurrencia de una Grave Enfermedad que sea indemnizada por esta cobertura y agote la Suma Asegurada. c) La muerte del Asegurado. d) Al término del plazo del seguro.
        </p>
        <p>
            <span class="text_terminos__condicion">CRenovación Automática</span><br>
            Este seguro podrá ser renovado a petición del Asegurado Titular por el mismo plazo de seguro que venía disfrutando o elija, tomando en consideración las clausulas o condiciones de restricción según el tipo de seguro que haya sido contratado.
        </p>
        <p>
            <span class="text_terminos__condicion">Entrega de Documentación Contractual y Servicios a su Póliza </span><br>
            En el supuesto de que no reciba la póliza en un plazo de 30 (treinta) días naturales a partir de la fecha de contratación de la póliza, el Asegurado Titular podrá llamar al número telefónico 800 472 68 29, o acudir a los alto del inmueble marcado con el número 1147, en la avenida  11 Norte Poniente, Fraccionamiento Vista Hermosa, código postal 29030 Tuxtla Gutiérrez, Chiapas, 
            o solicitar la misma a través del correo tuseguro@alternativa19delsur.com a fin de que <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> le indique las oficinas en las que podrá obtener dicho documento; o bien previa solicitud del Asegurado Titular se le haga llegar vía correo electrónico.<br>
            Con la finalidad de brindar al Asegurado Titular, así como a sus beneficiarios, una mayor certeza y seguridad jurídica, cualquier solicitud de (i) modificación o servicio a su Póliza de Seguro, (ii) cambio de designación de beneficiarios o (iii) cancelación de su Póliza de Seguro, debe ser solicitado por escrito al correo tuseguro@alternativa19delsur.com, en caso de siniestro 
            al correo siniestros@alternativa19delsur.com de <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span>, o bien a través del mecanismo o medio físico o electrónico que, en su caso, le indique en www.alternativa19delsur.com cumpliendo con los requisitos establecidos.
        </p>
        <h2 class="titulo_definicion">CONDICIONES GENERALES</h2>
        <p>
            <span class="text_terminos__condicion">Información relevante</span><br>
            Es requisito necesario para la adquisición de los productos que se promocionan en la página web, de <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span>, que el asegurado titular lea y acepte los siguientes Términos y Condiciones que a continuación se redactan. El uso de nuestros servicios así como la compra de los productos objeto del presente documento implicará que el asegurado 
            titular ha leído y aceptado los Términos y Condiciones de Uso en el presente documento. Todos los productos que son ofrecidos por nuestro sitio web pudieran ser creadas, cobradas, enviadas o presentadas a través de una página web tercera y en tal caso estarían sujetas a sus propios Términos y Condiciones.
        </p>
        <p>
            Todas las compras y transacciones que se lleven a cabo por medio de nuestro este sitio web, están sujetas a un proceso de confirmación y verificación, el cual podría incluir la disponibilidad de producto, validación de la forma de pago, validación de la factura (en caso de existir) y el cumplimiento de las condiciones requeridas por el medio de pago seleccionado. En algunos casos puede que se requiera una verificación por 
            medio de correo electrónico. Los precios de los productos ofrecidos en www.alternativa19delsur.com son válidos solamente en las compras realizadas en este sitio web.
        </p>
        <p>
            <span class="text_terminos__condicion">Facturación</span><br>
            En caso de requerir factura, el Asegurado Titular deberá solicitarla al momento de efectuar la compra. Para ello deberá proporcionar los datos fiscales requeridos. Su factura le será enviada (24 hasta 36 horas) después de que Asegurado Titular la haya solicitado. En dado caso de que el cliente no haya solicitado la factura en su momento, tendrá que realizar la solicitud de facturación correspondiente dentro del mes en curso 
            que haya realizado la compra del Producto (Póliza de Seguro).
        </p>
        <p>
            <span class="text_terminos__condicion">Cláusula de Contratación Vía Internet</span><br>
            El medio de contratación del presente contrato de seguro es electrónico. Para la contratación electrónica vía internet, se utilizarán Medios de Identificación, como se definen a continuación; los cuales serán validados por el Asegurado Titular durante la contratación del seguro.
        </p>
        <p>
            Se entiende por Medios de Identificación: aquellos datos personales del Asegurado Titular que lo identifican plenamente y lo distinguen de otras personas, tales como: nombre completo, lugar y fecha de nacimiento, Registro Federal de Contribuyentes (RFC), Clave Única de Registro de 
            Población (CURP), domicilio, comprobante del domicilio, correo electrónico y teléfono(s) de contacto.
        </p>
        <p>
            La póliza se contrata vía internet con los medios de identificación antes señalados, la determinación de la prima se hará de acuerdo con la información que el Asegurado Titular proporcione, respecto a las coberturas y sumas aseguradas solicitadas; en este caso, la forma de pago sólo podrá hacerse mediante cargos a tarjetas de crédito, débito o referencia de pago específico para que el asegurado Titular proceda al pago, por 
            lo que el Asegurado Titular, al proporcionar el número de su tarjeta y el código de seguridad, consiente la celebración del seguro mencionado. Asimismo, <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> se obliga a guardar absoluta confidencialidad respecto de los datos recibidos.
        </p>
        <p>
            El uso de los medios de Identificación que se establecen anteriormente, en sustitución de la firma autógrafa, producirá los mismos efectos que las leyes otorgan a los documentos correspondientes y, en consecuencia, tendrán el mismo valor probatorio; por lo que son responsabilidad exclusiva del Asegurado Titular quien reconoce y acepta desde ahora como suyas todas las operaciones realizadas en la presente contratación.
        </p>
        <p>
            La póliza que se emite junto con el cargo efectuado a la tarjeta de crédito, débito o recibo de pago digitalizado del Asegurado Titular, para el cobro de las primas, podrán ser utilizados como medios de prueba para hacer constar la celebración del contrato de seguro, documentos que se entregan al Asegurado Titular en este mismo momento de la contratación; misma que el Asegurado Titular podrá guardar o imprimir, sin 
            perjuicio de que el Asegurado Titular pueda solicitar su documentación como se describe.
        </p>
        <p>
            <span class="text_terminos__condicion">Declaración de Autenticidad de Datos del Usuario</span><br>
            El o los Asegurado Titular (en este caso Usuario(s)) que han decidido libremente llenar y aceptar las formas de registro visibles en el Sitio Web con el objeto de solicitar más información sobre los productos ofrecidos, generar una cotización o la contratación de un producto, aceptan en su carácter de El o los Asegurado Titular (en este caso Usuario(s)) los presentes Términos y Condiciones, así como el Aviso de Privacidad. 
            El o los Asegurado Titular (en este caso Usuario(s)) se comprometen y obligan al uso adecuado y responsable del Sitio  Web, los productos y servicios adquiridos. Asimismo, serán responsables de que todos los datos e información transmitida a <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> sean correctos y veraces, asegurando tener los derechos necesarios para transmitir lícitamente dicha información.
        </p>
        <p>
            <span class="text_terminos__condicion">Obligaciones del Usuario</span><br>
            Derivado del uso de Sitio Web, El o los Asegurado Titular (en este caso Usuario(s)) tendrá las obligaciones siguientes:
        </p>
        <p>
            <ul>
                <li class="let_signo__terminos">Deberá resguardar y mantener su Identificador de Usuario, Contraseña y/o cualquier información o herramientas utilizados para el acceso a Sitio Web y la realización de Operaciones Electrónicas, como confidenciales toda vez que el uso de estas será responsabilidad directa del Usuario, aun y cuando medie caso fortuito o fuerza mayor, asumiendo la responsabilidad que su uso implica.</li><br>
                <li class="let_signo__terminos">Reconoce y acepta el carácter identificable, personal e intransferible de su Identificador de Usuario, Contraseña y/o cualquier información o herramienta utilizados para el acceso al Sitio Web ya que el empleo de dicha información es bajo su responsabilidad, por lo que todas las operaciones realizadas dentro de su cuenta le serán imputables.</li><br>
                <li class="let_signo__terminos">En caso de que el Usuario tenga conocimiento o sospeche de cualquier violación a la seguridad, tal como el robo o el uso no autorizado de su Identificador de Usuario, Contraseña y/o cualquier información o herramienta utilizadas para el acceso al Sitio Web, deberá notificar inmediatamente al correo tuseguro@alternativa19delsur.com de <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span>, para que se realice el bloque de su cuenta.</li><br>
                <li class="let_signo__terminos">Proporcionar a <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span>, SOFOM, E.N.R., en el momento que se requiera la información relacionada con los movimientos que realice en su cuenta. Reportar a <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> cualquier operación electrónica que el Usuario no reconozca como propia, lo cual lo podrá hacer a través de los datos de contacto contenidos 
                    en su Documentación Contractual o a través del correo tuseguro@alternativa19delsur.com de</li><br>
                <li class="let_signo__terminos">Reportar a <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> cualquier operación electrónica que el Usuario no reconozca como propia, lo cual lo podrá hacer a través de los datos de contacto contenidos en su Documentación Contractual o a través del correo tuseguro@alternativa19delsur.com de <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span></li><br>
                <li class="let_signo__terminos">Acepta que la información e instrucciones que el Usuario transmita o comunique a <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> a través de los medios de autentificación que utilice para acceder al Sitio Web de <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span>, así como los comprobantes emitidos y transmitidos a través de su cuenta tendrán pleno valor probatorio y fuerza legal para 
                    acreditar la operación realizada, su naturaleza, así como las características y alcance de sus instrucciones.</li><br>   
            </ul>
        </p>
        <p>
            Cualquier incumplimiento a lo establecido en el presente documento, así como las consecuencias que se generen, serán responsabilidad del Usuario.
        </p>
        <p>
            <span class="text_terminos__condicion">Operaciones y Servicios</span>
            Las Operaciones que el Asegurado Titular podrá realizar a través del Sitio Web de ALTERNATIVA 19 DEL SUR. S.A. DE C.V., SOFOM, E.N.R. son:
        
            <ul>
                <li class="sub_signo__terminos">✓ Consulta de oferta y características de seguros por parte del el Asegurado Titular.</li><br>
                <li class="sub_signo__terminos">✓ Registro del Asegurado Titular.</li><br>
                <li class="sub_signo__terminos">✓ Contratación, solicitud, aceptación o emisión de endosos del contrato de seguro.</li><br>
                <li class="sub_signo__terminos">✓ Renovación del contrato de seguro.</li><br>
                <li class="sub_signo__terminos">✓ Alta y modificación del medio de notificación al Contratante y/o Asegurado.</li><br>
                <li class="sub_signo__terminos">✓ Modificación de Contraseñas o Identificadores de Usuarios por parte del Usuario.</li><br>
                <li class="sub_signo__terminos">✓ Pago de los productos por parte del Asegurado Titular.</li><br>
                <li class="sub_signo__terminos">✓ Envío de Documentación Contractual al correo electrónico del Asegurado Titular.</li><br>
                <li class="sub_signo__terminos">✓ Descarga de Documentación Contractual por parte del Asegurado Titular.</li><br>
                <li class="sub_signo__terminos">✓ Otorgar su consentimiento de tratamiento de sus datos personales<br><span class="text_mov__terminos1"> y datos personales, en términos de la Ley Federal de Protección de 
                </span><br><span class="text_mov__terminos2"> Datos Personales en Posesión de los Particulares. </span></li><br>
                <li class="sub_signo__terminos">✓ Ejercer los derechos de acceso, rectificación, cancelación u oposición del tratamiento <br><span class="text_mov__terminos3">de sus datos personales, de conformidad con lo establecido en el aviso de privacidad.</span></li>
            </ul> 
        </p>
        <p class="text_terminos__operaciones">
            En el caso de ya tener la póliza las Operaciones que el Asegurado Titular podrá realizar a través del tuseguro@alternativa19delsur.com de <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> son:
            <ul>
                <li class="sub_signo__terminos">✓ Modificación de datos personales por parte del Asegurado Titular.En caso de error en sus datos personales.</li><br>
                <li class="sub_signo__terminos">✓ Modificación de beneficiario(s). En caso de erro de datos personales, cambio de beneficiario o fallecimiento de este.</li><br>
                <li class="sub_signo__terminos">✓ Cancelación del contrato de seguro. En caso de ser financiado.</li><br>
            </ul> 
        </p>
        <p>
            <span class="text_terminos__condicion">Propiedad</span><br>
            El Asegurado Titular no puede declarar propiedad intelectual o exclusiva a ninguno de nuestros productos, modificado o sin modificar. Todos los productos son propiedad de los proveedores del contenido.
        </p>
        <p>
            <span class="text_terminos__condicion">Independencia de los Productos de Seguro</span><br>
            Los presentes términos y condiciones de uso del Sitio Web son independientes a las obligaciones contenidas en la Documentación Contractual que ampara los productos de seguro, por lo tanto, el Asegurado Titular reconoce y acepta que en caso de no poder
            realizar alguna operación o servicio a través del Sitio Web, o no se encuentren disponibles al momento de requerir hacer uso, no podrá justificar el incumplimiento a cualquier obligación contenida en dicha Documentación Contractual, como puede ser, la falta 
            de pago de Prima, notificación de no renovación, cancelación o actualización de beneficiarios, entre otros.
        </p>
        <p>
            <span class="text_terminos__condicion">Información que es recogida</span><br>
            Nuestro sitio web podrá recoger información personal por ejemplo: Nombre,  información de contacto como  su dirección de correo electrónica e información demográfica. Así mismo cuando sea necesario podrá ser requerida información específica para procesar algún 
            pedido o realizar una entrega o facturación.
        </p>
        <p>
            <span class="text_terminos__condicion">Uso de la información recogida</span><br>
            Nuestro sitio web emplea la información con el fin de proporcionar el mejor servicio posible, particularmente para mantener un registro de usuarios, de pedidos en caso que aplique, y mejorar nuestros productos y servicios.  Es posible que sean enviados correos 
            electrónicos periódicamente a través de nuestro sitio con ofertas especiales, nuevos productos y otra información publicitaria que consideremos relevante para Asegurado Titular o que pueda brindarle algún beneficio, estos correos electrónicos serán enviados a 
            la dirección que Asegurado Titular proporcione y podrán ser cancelados en cualquier momento.
        </p>
        <p>
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> está altamente comprometido para cumplir con el compromiso de mantener su información segura. Usamos los sistemas más avanzados y los actualizamos constantemente para 
            asegurarnos que no exista ningún acceso no autorizado.
        </p>
        <p>
            <span class="text_terminos__condicion">Límites de Responsabilidad en el Sitio Web</span><br>
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> no será responsable en caso de que no pueda efectuar o cumplir con las Operaciones Electrónicas debido, o en caso fortuito y/o fuerza mayor, por desperfectos, caída de sistemas o de cómputo, mal funcionamiento 
            o suspensión de los Medios de Comunicación (incluyendo los Medios Electrónicos) o de cualquier otro servicio necesario para la prestación del servicio respectivo.
        </p>
        <p>
            En caso de que el Usuario no pueda efectuar sus operaciones por los motivos aquí señalados,<span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> hará su mejor esfuerzo para mantener la continuidad en el servicio en el entendido de que no garantizará dicha continuidad al Usuario.
        </p>
        <p>
            Queda entendido por el Usuario que el dominio de correo electrónico del cual podrá recibir información por parte de <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span>  es: 
        </p>
        <p>
            @alternativa19delsur.com, no siendo válida la información recibida por una dirección de correo electrónico distinta a la mencionada.<br>
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> no tendrá ninguna responsabilidad u obligación de ningún tipo por cualquier pérdida o pasivo sufrido por el Usuario debido a cualquier equipo, software o documentación que no sea producida o proporcionada por 
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> en relación con el uso de los servicios en el Sitio Web.
        </p>
        <p>
            <span class="text_terminos__condicion">Cookies</span><br>
            Una cookie se refiere a un fichero que es enviado con la finalidad de solicitar permiso para almacenarse en su ordenador, al aceptar dicho fichero se crea y la cookie sirve entonces para tener información respecto al tráfico web. Otra función que tienen las cookies es que con ellas las web pueden reconocerte 
            individualmente y por tanto brindarte el mejor servicio personalizado de su web.
        </p>
        <p>
            Nuestro sitio web emplea las cookies para poder identificar las páginas que son visitadas y su frecuencia. Esta información es empleada únicamente para análisis estadístico y después la información se elimina de forma permanente. El Asegurado Titular puede eliminar las cookies en cualquier momento desde su ordenador. 
            Sin embargo las cookies ayudan a proporcionar un mejor servicio de los sitios web, estás no dan acceso a información del ordenador propiedad del Asegurado Titular, a menos de que Asegurado Titular así lo quiera y la proporcione directamente. El Asegurado Titular puede aceptar o negar el uso de cookies, sin embargo la 
            mayoría de navegadores aceptan cookies automáticamente pues sirve para tener un mejor servicio web. También el Asegurado Titular puede cambiar la configuración de su ordenador para declinar las cookies. Si se declinan es posible que no pueda utilizar algunos de nuestros servicios.
        </p>
        <p>
            <span class="text_terminos__condicion">Enlaces a Terceros</span><br>
            UEste sitio web pudiera contener enlaces a otros sitios que pudieran ser de su interés. Una vez que el Asegurado Titular de clic en estos enlaces y abandone nuestra página, ya no tenemos control sobre al sitio al que es redirigido y por lo tanto no somos responsables de los términos o privacidad ni de la protección de 
            sus datos en esos otros sitios terceros. Dichos sitios están sujetos a sus propias políticas de privacidad por lo cual es recomendable que los consulte para confirmar que Asegurado Titular está de acuerdo con estas.
        </p>
        <p>
            <span class="text_terminos__condicion">Privacidad</span><br>
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> garantiza que la información personal que el Asegurado Titular envía cuenta con la seguridad necesaria. Los datos ingresados por usuario o en el caso de requerir una validación de los pedidos no serán entregados a terceros, 
            salvo que deba ser revelada en cumplimiento a una orden judicial o requerimientos legales. La suscripción a boletines de correos electrónicos publicitarios es voluntaria y podría  ser seleccionada al momento de crear su cuenta.
        </p>
        <p>
            <span class="text_terminos__condicion">ALTERNATIVA 19 DEL SUR S.A. DE C.V., SOFOM, E.N.R.</span> se reserva los derechos de cambiar o de modificar estos términos sin previo aviso.
        </p>
        <p>
            LAS ASEGURADORAS CONSIDERADAS PARA DAR VALIDEZ LEGAL A LOS SEGUROS DE VIDA QUE SE OFERTARÁN, PRECISAN EN SUS TÉRMINOS Y CONDICIONES QUE CUMPLEN CON LAS DISPOSICIONES ESTABLECIDAS POR LA LEY DE INSTITUCIONES DE SEGUROS Y FIANZAS Y CON LAS CORRESPONDIENTES ESTABLECIDAS POR LA LEY DE PROTECCION Y DEFENSA AL USUARIO DE SERVICIOS FINANCIEROS.
        </p>
        <!-- <a href="/add_titu">
            <button class="btn_salir">Salir</button>
         </a>  -->
    </div>
</section>
</form>

{% endblock%}
  
